.form{
    width: 250px;
    height: 300px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    text-align: center;
    &__input{
        display: inline-block;
        height: 30px;
        margin-top: 16px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        font-size: 16px;
        padding-left: 16px;
        &-error{
            margin-top: 5px;
            color: red;
        }
    }
    &__button{
        display: block;
        width: 100px;
        height: 40px;
        margin: 16px auto 0;
    }
}